@charset "UTF-8";

/*
*/

.page-tit {
	margin-bottom: 10px;
	color: orange;
}

.contents > h3 {
	font-weight: 500;
}

.contents > h3, .des_wrap, .mapapi{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* =============================================== 여행지 간단 설명 =============================================== */

.des_wrap{
	display: flex;
}

.info_img{
	width: 300px;
	height: 300px;
	margin-right: 20px;
}

.info_img > img{
	width: 100%;
	height: 100%;
}

.info_box{
	width: 70%;
}

.info_contents{
	padding: 1.5rem;
}

.type > span{
	color: #fff;
	font-size: 13px;
	background-color: #73bf73;
	border-radius: 3px;
	padding: 2px 5px 3px;
}

.type, .info_contents > p {
	word-break: keep-all;
}

.type, .info_contents > p, .info_contents > dl{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start; 
	margin-bottom: 10px;	
}

.info_contents > dl > dt {
	width: 80px;
	margin-right: 20px;
}
.info_contents > dl > dt strong {
	font-weight: 500;
}


/* ====================================================== 사진 슬라이드 방법 2 =============================================== */

.imgsldsection{
	margin-top: 10px;
	margin-bottom: 10px;
}

/* imgsldsection 클래스 안의 id값이 slide를 포함하는 input태그를 선택, radio 점 표시가 안보이게 설정 */
.imgsldsection [id*="slide"] {
	display: none;
}

/* 
	imgsldsection, slidewrap클래스의 
	max-width : 최대 가로 넓이(사진이 보여질수 있는 틀)
	margin : 좌우 마진을 0 auto로 블록요소를 가운데 정렬시킴
	overflow: hidden : 영역을 벗어나면 안보이도록 설정(스크롤바 포함)
 */
.imgsldsection .slidewrap {
	max-width: 700px;
	/*
	*/
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

/* 
	white-space: nowrap; : li의 부모요소인 ul에 설정하여 li들이 가로로 다닥다닥 붙음 
	font-size: 0; : 안 쪽 빈 영역을 제거
	padding:0; : 슬라이드 시 이미지간의 gap이 없도록 설정 
*/
.imgsldsection .slidelist { 
	white-space: nowrap;
	font-size: 0;
	padding: 0;
}

/* 
	width: 100%; : 한 개의 li가 부모영역의 ul을 가득채워 한 페이지씩 영역을 가지게 된다. 
	vertical-align: middle; : 세로 기준 가운데로 맞춤
	transition: all 0.5s; : 슬라이드가 넘어가는 빠르기
*/
.imgsldsection .slidelist > li {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	transition: all .5s;
}

/*
	display: block; : 안 쪽 컨테츠를 다 담을 수 있도록 함
	position: relative : 버튼으로 사용할 label태그를 자율배치 시킬 때 기준을 잡을 수 있도록 설정
*/
.imgsldsection .slidelist > li > a {
	display: inline-block;
	position: relative;
}

.imgsldsection .slidelist > li > a > img {
	width: 700px;
	height: 300px;
}

/* ------------------- 좌우로 넘기는 LABEL버튼에 대한 스타일 ------------------- */

.imgsldsection .slide-control {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

/*
	position: absolute; : a태그 안쪽에 label이 위치할 수 있도록(서로 겹칠 수 있게) absolute 설정
	
	z-index: 10; 				 : 요소들의 수직 위치를 z-index 속성으로 설정 
				   				   이미지가 겹칠 때 숫자가 클 수록 위로 올라오고, 숫자가 작을 수록 아래로 내려감
	top: 50%;                    : 세로 기준 50% 만큼 내려옴
	transform: translateY(-50%); : 자신의 현재 위치를 기준으로 높이의 반(-50%) 만큼 위로 올림
	
	padding: 50px; : 클릭 할 수 있도록 라벨의 크기 키움
	cursor:pointer; : 라벨에 포인터가 올라갔을 때 포인터가 변하도록 설정
*/
.imgsldsection .slide-control label {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	padding: 50px;
	cursor: pointer;
}

/*
*/
.imgsldsection .slide-control .left {
	left: 30px;
	background: url('../images/common/left.png') center center / 100% no-repeat;
}
.imgsldsection .slide-control .right {
	right: 30px;
	background: url('../images/common/right.png') center center / 100% no-repeat;
}
.imgsldsection .slide-control [class*="control"] {
	display: none;
}

/* --------------------------------------------------------------------- */

/* INPUT이 체크되면 변화값(X축 이동)이 li까지 전달되는 스타일 */
.imgsldsection [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.imgsldsection [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.imgsldsection [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/*  INPUT이 체크되면 변화값이 좌우 슬라이드 버튼을 담고 있는 div 까지 전달되는 스타일 */
.imgsldsection [id="slide01"]:checked ~ .slidewrap .control01 {display:block;}
.imgsldsection [id="slide02"]:checked ~ .slidewrap .control02 {display:block;}
.imgsldsection [id="slide03"]:checked ~ .slidewrap .control03 {display:block;}

/* ====================================================================================================================== */

/* 목록으로 돌아가는 버튼  */
.backspot{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
}

.backbutton{
	color: #fff;
	font-size: 15px;
  	border-radius: 5px;
  	border: 0;
  	background: #ff9227;
  	padding: 7px 15px;
	cursor: pointer;
}
