@charset "UTF-8";

/* 리뷰 메인페이지 */
.btn-wrap {
	width: 100%;
	text-align: right;
	margin-top: 20px;
}

#btn-write {
	float: right;
}

/* 리뷰 상세페이지 */
.reviewTitle {
	text-align: center;
	margin-top: 30px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd; 
	padding: 20px 0 30px;
}

#reviewTitle {
	text-align: left;	
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 40px;
}

.reviewWriteIfm {
    width: 90%;
    margin: 0% auto;
    padding-bottom: 20px;
}

#reviewType {
	font-size: 13px;
    float: left;
	width: 100%;
	text-align: left;
	margin-bottom: 10px;
	font-weight: bold;
}

#userName {
	font-size: 13px;
    float: left;

}

#reviewUploadDate {
	font-size: 13px;
    float: right;
    margin-right: 20px;
}

#reviewHits {
	font-size: 13px;
	float: right;
}

.reviewContents {
	text-align: left;
	margin-top: 30px;
	padding: 30px; 
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd; 
}
/*댓글테이블*/

#comment-container {
	border-bottom: 1px solid #ddd;
}
#frm-comment {
	padding-bottom: 30px;
	margin-bottom: 30px;
}

#commentContent {
	text-align: inherit;
	margin-top: 30px;
	width: 98%;
	resize: none;
	padding: 10px;
	border: 1px solid #ddd;
	outline: 0;
}
#commentContent:focus {
	border: 1px solid #ff9227;
}

#btn-insert {
	float: right;
	color: #fff;
	font-size: 14px;
	border: none;
	margin-top: 10px;
	background: #ff9227;
	padding: 7px 15px;
}
#form-commentInfo {
	width: 100%;
	text-align: left;
	padding: 20px;
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd;
}
.reviewCommentSubmit {
	text-align: left;
	padding: 20px; 
	padding-bottom: 50px;
	border-bottom: 1px solid #ddd; 
}

#comment-count {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 20px;
}

#comment-input {
	width: 90%;
	height: 5em;
	border: 1px solid #ddd;
	box-sizing: border-box;
	padding: 10px;
}

#btn-commentSubmit {
	margin-top: 13px;
	float: right;
	width: 4em;	
	height: 3em;
	font-size: 13px;
	font-weight: bold;
	margin-right: 3%;
	border: none;
}

.comments {
	margin: 10px;
	width: 95%;
	margin-bottom: 50px;
}

.comments #commentWriter {
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.comments #commentContent {
	font-size: 13px;
	float: left;
	width: 85%;
}

.comments #commentSubmitDate {
	font-size: 13px;
	float: left;	
	width: 10%;
}

.comments #btn-commentdelete {
	float: right;
	border: none;
	background-color: white;
}

.comments #btn-commentdelete:hover{
	color: red;
}

#btn-list {
	float: right;
	color: #fff;
	border: none;
	margin-top: 30px;
	background: #ff9227;
	padding: 7px 15px;
	font-size: 14px;
}


/* 리뷰 작성 */

#reviewWrite {
	text-align: center;
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	padding-bottom: 30px;
	
}

#title {
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 35px;
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	margin-left: 0%;
}

#select-group {
	float: left;
	width: 100px;
	font-size: 13px;
	border: 1px solid #ddd;
}

#select-group option {
	float: left;
}
#form-writer {
	float: right;
	font-size: 13px;
	margin-left: 82%;
	margin-right: 2%;
	margin-bottom: 20px;
}

#commentTitle {
	font-weight: bold;
	font-size: 13px;
	padding-bottom: 20px;
}

#commentForm {
	width: 100%;
	height: 70px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

#commentSubmitBtn {
	margin-top: 13px;
	float: right;
	width: 8%;	
}

/* 리뷰 작성 */

#reviewWrite {
	text-align: center;
	margin-top: 30px;
	border-bottom: 1px solid #ddd;
	padding: 20px;
	padding-bottom: 30px;

}

#title {
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: 500;
	margin-top: 45px;
	margin-bottom: 35px;
	width: 100%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #ddd;
	padding: 5px;
	margin-left: 0%;
	outline: 0;
}
#title:focus {
	border-bottom: 1px solid #ff9227;
}

#select-type {
	float: left;
	width: 200px;
	height: 30px;
	font-size: 14px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	outline: 0;
	cursor: pointer;
}
#select-type:focus {
	border: 1px solid #ff9227;
}

#select-type option {
	float: left;
}
#form-writer {
	float: right;
	font-size: 13px;
	margin-left: 82%;
	margin-right: 2%;
	margin-bottom: 20px;
}

#form-content {
	width: 100%;
	height: 500px;
	float: left;
	text-align: initial;
	padding: 10px;
	margin-bottom: 30px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	resize: none;
	outline: 0;
}

#form-content:focus {
	border: 1px solid #ff9227;
}

#btn-rv_submit {
	float: right;
	color: #fff;
	border: none;
	background-color: #ff9227;
	padding: 10px 20px;
	cursor: pointer;
}


