<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	배포 서술자(Deployment Descriptor)
	배포 서술자는 Java EE 스펙으로 개발되는 웹 애플리케이션의 기본적인 설정을 위해 작성하는 파일이다. (Servlet, Filter 등) 
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee; http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_Servlet</display-name>
  <!-- 
  	welcome-file
  	  - 디렉터리의 기본 웹 페이지이다.
  	  - 클라이언트가 리소스(html, 서블릿 등)의 이름을 생략하고 디렉터리까지만 지정해서 요청한다면
  	    웹 서버는 해당 디렉터리에서 웰컴 파일을 찾아서 응답한다.
  -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>first</servlet-name>
  	<servlet-class>com.kh.servlet.FirstServlet</servlet-class>
  </servlet>
  
  <!-- 등록한 서블릿을 URL 주소와 연결(mapping) -->
  <!-- 
  	http://localhost:8088/01_Servlet/first.do
  	
  	http:// : 프로토콜
  	localhost:8088 : 서버에 대한 정보
  	01_Servlet : 애플리케이션의 명칭(context)
  	first.do : 서블릿을 실행시키기 위한 주소
  -->
  <servlet-mapping>
  	<servlet-name>first</servlet-name>
  	<url-pattern>/first.do</url-pattern>
  </servlet-mapping>
</web-app>