<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>게시글 목록 조회</h1>
	<div id="board-list-container">
		<button type="button" th:onclick="|location.href='@{/board/write}'|">글쓰기</button>

		<table id="tbl-board">
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			<tr th:each="board : ${list}">
				<td th:text="${ board.no }"></td>
				<td>
					<a th:href="@{/board/view(no=${ board.no })}"
						th:text="${ board.title }">
						
					</a>
				</td>
				<td th:text="${ board.writer }"></td>
				<td th:text="${ #temporals.format(board.createDate, 'yyyy-MM-dd') }"></td>
				<td th:text="${ board.readCount }"></td>
			</tr>	
		</table>
	</div>
   	<div id="pageBar" th:with="startNumber=${T(Math).floor(list.number/10)}*10+1, endNumber=(${list.totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${list.totalPages}">
		<button th:onclick="|location.href='@{/board/list(page=1)}'|">&laquo;</button>
		
		<button th:style="${list.first} ? 'display:none'" th:onclick="|location.href='@{/board/list(page=${list.number})}'|">&lsaquo;</button>
				
		<button th:each="page : ${#numbers.sequence(startNumber, endNumber)}" th:disabled="(${page} == ${list.number}+1)"
				th:text="${page}" th:onclick="|location.href='@{/board/list(page=${page})}'|"></button>

		<button th:style="${list.last} ? 'display:none'" th:onclick="|location.href='@{/board/list(page=${list.number}+2)}'|">&rsaquo;</button>

		<button th:onclick="|location.href='@{/board/list(page=${list.totalPages})}'|">&raquo;</button>
	</div>
</body>
</html>